<h1>Home Page</h1>
<nav >
  <div>
    <ul>
      <li class="active"><a href="#">CTS</a></li>
      <li><a routerLink='login'>Login</a></li>
      <li><a routerLink='total'>Total</a></li>
      <li><a routerLink="emplist">List of Employees</a></li>
      <li><a routerLink="empadd">Register</a></li>
      <li><a routerLink="tempform">Product</a></li>
      <li><a routerLink="supplist">List of Supppliers</a></li>
      <li><a routerLink="addsupplier">Add Supplier </a></li>
    </ul>
    
  </div>
</nav>

<router-outlet></router-outlet>
<!--<a routerLink='login'>Login</a>
<a routerLink='total'>Total</a>
<a  routerLink="emplist">List of Employees</a>-->
<router-outlet></router-outlet>
<!--<app-login></app-login>
<app-total></app-total>-->
<!--<h2>This is Second heading</h2>
<a href="https://www.google.co.in/">Google</a><br>
<br>
<table border="1">
  <td>first</td>
  <td>second</td>
</table>
<br>
<img src="../assets/babies.jpeg" height="100" width="100"/>-->